#container {
    margin: auto;
    width: 500px;
    height: 500px;
    border:10px solid gray;
}

.square {
    border: 1px solid black;
    padding: 10px;
    margin: 1px;
    background-color: white;

}

.active {
    background-color: black;
}



